In [357]:
import pandas as pd
import numpy as np

Reading the csv

In [358]:
df=pd.read_csv("/content/purchase_data.csv")

In [359]:
df=df.sort_values(by='Age')

In [360]:
df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
33,33,Haillyrgue51,7,Male,44,Bonecarvin Battle Axe,2.38
778,778,Sisur91,7,Male,101,Final Critic,4.19
446,446,Chanossast57,7,Female,119,"Stormbringer, Dark Blade of Ending Misery",4.32
515,515,Haillyrgue51,7,Male,40,Second Chance,2.52
658,658,Quilassa66,7,Female,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
...,...,...,...,...,...,...,...
557,557,Frichaya88,42,Male,8,"Purgatory, Gem of Regret",3.93
674,674,Aeral68,43,Male,77,"Piety, Guardian of Riddles",4.00
248,248,Isursuir31,44,Male,137,"Aetherius, Boon of the Blessed",3.39
728,728,Chanosiaya39,44,Male,93,Apocalyptic Battlescythe,1.97
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70

In [361]:
df['Age'].max()

45

In [362]:
df['Age'].min()

7

In [363]:
list1=np.arange(6,50,4).tolist()

In [364]:
print(list1)

[6, 10, 14, 18, 22, 26, 30, 34, 38, 42, 46]

In [365]:

df['bins'] = pd.cut(x=df['Age'], bins=list1)
print(df)

     Purchase ID            SN  Age  Gender  Item ID  \
33            33  Haillyrgue51    7    Male       44
778          778       Sisur91    7    Male      101
446          446  Chanossast57    7  Female      119
515          515  Haillyrgue51    7    Male       40
658          658    Quilassa66    7  Female      178
..           ...           ...  ...     ...      ...
557          557    Frichaya88   42    Male        8
674          674       Aeral68   43    Male       77
248          248    Isursuir31   44    Male      137
728          728  Chanosiaya39   44    Male       93
761          761       Assim27   45    Male       17

                                        Item Name  Price      bins
33                          Bonecarvin Battle Axe   2.38   (6, 10]
778                                  Final Critic   4.19   (6, 10]
446     Stormbringer, Dark Blade of Ending Misery   4.32   (6, 10]
515                                 Second Chance   2.52   (6, 10]
658  Oathbreaker, Last Hope of the Breaking Storm   4.23   (6, 10]
..                                            ...    ...       ...
557                      Purgatory, Gem of Regret   3.93  (38, 42]
674                    Piety, Guardian of Riddles   4.00  (42, 46]
248                Aetherius, Boon of the Blessed   3.39  (42, 46]
728                      Apocalyptic Battlescythe   1.97  (42, 46]
761                  Lazarus, Terror of the Earth   1.70  (42, 46]

[780 rows x 8 columns]

In [366]:
counts=df.value_counts('bins')  #Purchase count for Each group
print(counts)

bins
(18, 22]    254
(22, 26]    207
(14, 18]    113
(26, 30]     63
(30, 34]     38
(34, 38]     35
(6, 10]      32
(10, 14]     19
(38, 42]     15
(42, 46]      4
dtype: int64

In [367]:
df['bins'].value_counts()

(18, 22]    254
(22, 26]    207
(14, 18]    113
(26, 30]     63
(30, 34]     38
(34, 38]     35
(6, 10]      32
(10, 14]     19
(38, 42]     15
(42, 46]      4
Name: bins, dtype: int64

In [368]:
fstbin = df['bins']==pd.Interval(left=6,right=10)

In [369]:
df[fstbin]

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,bins
33,33,Haillyrgue51,7,Male,44,Bonecarvin Battle Axe,2.38,"(6, 10]"
778,778,Sisur91,7,Male,101,Final Critic,4.19,"(6, 10]"
446,446,Chanossast57,7,Female,119,"Stormbringer, Dark Blade of Ending Misery",4.32,"(6, 10]"
515,515,Haillyrgue51,7,Male,40,Second Chance,2.52,"(6, 10]"
658,658,Quilassa66,7,Female,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,"(6, 10]"
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,"(6, 10]"
610,610,Frichossala54,7,Male,159,"Oathbreaker, Spellblade of Trials",3.08,"(6, 10]"
481,481,Sondossa69,7,Male,179,"Wolf, Promise of the Moonwalker",4.48,"(6, 10]"
78,78,Haillyrgue51,7,Male,50,Dawn,4.60,"(6, 10]"
81,81,Heudai45,8,Female,174,Primitive Blade,3.47,"(6, 10]"
37,37,Seuthep89,8,Male,73,Ritual Mace,2.05,"(6, 10]"
767,767,Ilmol66,8,Female,92,Final Critic,4.88,"(6, 10]"
311,311,Anallorgue57,8,Male,71,Demise,1.61,"(6, 10]"
272,272,Anallorgue57,8,Male,133,Faith's Scimitar,4.09,"(6, 10]"
339,339,Ilmol66,8,Female,124,Venom Claymore,1.29,"(6, 10]"
187,187,Tyeurith29,8,Male,11,Brimstone,3.65,"(6, 10]"
686,686,Chadjask77,8,Male,147,"Hellreaver, Heirloom of Inception",4.93,"(6, 10]"
486,486,Eurithphos97,9,Male,53,Vengeance Cleaver,2.05,"(6, 10]"
692,692,Quaecjask96,9,Male,78,"Glimmer, Ender of the Moon",4.40,"(6, 10]"
575,575,Sondadar26,9,Male,137,"Aetherius, Boon of the Blessed",3.39,"(6, 10]"
732,732,Eurithphos97,9,Male,97,"Swan Song, Gouger Of Terror",2.50,"(6, 10]"
672,672,Ililsan66,9,Male,122,Unending Tyranny,2.85,"(6, 10]"
546,546,Sondadar26,9,Male,159,"Oathbreaker, Spellblade of Trials",3.08,"(6, 10]"
679,679,Iarilis73,10,Male,153,Mercenary Sabre,3.74,"(6, 10]"
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18,"(6, 10]"
54,54,Zhisrisu83,10,Male,25,Hero Cane,4.35,"(6, 10]"
424,424,Iarilis73,10,Male,149,"Tranquility, Razor of Black Magic",1.75,"(6, 10]"
32,32,Aeralria27,10,Male,133,Faith's Scimitar,4.09,"(6, 10]"
411,411,Lisico81,10,Male,101,Final Critic,4.19,"(6, 10]"
155,155,Aillyrin83,10,Female,98,"Deadline, Voice Of Subtlety",2.89,"(6, 10]"
534,534,Iana95,10,Male,146,Warped Iron Scimitar,3.10,"(6, 10]"
141,141,Zhisrisu83,10,Male,60,Wolf,3.54,"(6, 10]"

In [370]:
avg1st=df[fstbin]['Price'].mean()
print(avg1st)                   # mean ,Purchase Count and sum for 1st group (6,10] 
sum1st=df[fstbin]['Price'].sum()
count1=df[fstbin]["Purchase ID"].count()
print(count1)
print(sum1st)

3.4049999999999994
32
108.96000000000001

In [371]:
bin2= df['bins']==pd.Interval(left=10,right=14)

df[bin2]

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,bins
751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36,"(10, 14]"
601,601,Ilastilis78,11,Male,93,Apocalyptic Battlescythe,1.97,"(10, 14]"
163,163,Sidap51,11,Male,65,Conqueror Adamantite Mace,4.24,"(10, 14]"
299,299,Lirtossa84,11,Male,164,Exiled Doomblade,1.63,"(10, 14]"
539,539,Eosurdru76,11,Male,117,"Heartstriker, Legacy of the Light",1.79,"(10, 14]"
26,26,Lirtossa84,11,Male,71,Demise,1.61,"(10, 14]"
774,774,Jiskjask80,11,Male,101,Final Critic,4.19,"(10, 14]"
408,408,Raesty92,12,Male,53,Vengeance Cleaver,2.05,"(10, 14]"
394,394,Lassassasda30,12,Male,60,Wolf,3.54,"(10, 14]"
413,413,Siana77,12,Male,93,Apocalyptic Battlescythe,1.97,"(10, 14]"
56,56,Raesty92,12,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,"(10, 14]"
531,531,Lirtirra81,12,Male,143,Frenzied Scimitar,1.56,"(10, 14]"
755,755,Raesty92,12,Male,76,Haunted Bronzed Bludgeon,3.15,"(10, 14]"
76,76,Mindadaran26,13,Female,88,"Emberling, Defender of Delusions",3.75,"(10, 14]"
139,139,Lisasi93,13,Male,158,"Darkheart, Butcher of the Champion",2.45,"(10, 14]"
292,292,Lisasi93,13,Male,70,Hope's End,1.03,"(10, 14]"
449,449,Ethralista69,13,Male,34,Retribution Axe,2.22,"(10, 14]"
487,487,Raillydeu47,14,Male,93,Apocalyptic Battlescythe,1.97,"(10, 14]"
493,493,Chanirrasta87,14,Male,139,"Mercy, Katana of Dismay",4.94,"(10, 14]"

In [372]:

mean2=df[bin2]['Price'].mean() 
print(mean2)                       # mean , sum and Purchase count  for 2nd group (10,14] 
sum2=df[bin2]['Price'].sum()
print(sum1st)
count2=df[bin2]["Purchase ID"].count()
print(count2)

2.6815789473684206
108.96000000000001
19

In [373]:
bin3= df['bins']==pd.Interval(left=14,right=18)
                                                 # mean ,sum ,purchase count for 3rd group (14,18] 
print(df[bin3]['Price'].mean())
sum3=df[bin3]['Price'].sum()
print(sum1st)
count3=df[bin3]["Purchase ID"].count()
print(count3)

3.0346017699115033
108.96000000000001
113

In [374]:
bin4= df['bins']==pd.Interval(left=18,right=22)
                                                 # mean,sum and purchase  for 4th group (18,22] 
print(df[bin4]['Price'].mean())
sum4=df[bin4]['Price'].sum()
print(sum4)
count4=df[bin4]["Purchase ID"].count()
print(count4)

3.038937007874018
771.89
254

In [375]:
bin5= df['bins']==pd.Interval(left=22,right=26)
                                                 # mean,sum and Purchase count  for 5rd group (22,26] 
print(df[bin5]['Price'].mean())
sum5=df[bin5]['Price'].sum()
print(sum5)

count5=df[bin5]["Purchase ID"].count()
print(count5)

3.063961352657007
634.24
207

In [376]:
df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,bins
33,33,Haillyrgue51,7,Male,44,Bonecarvin Battle Axe,2.38,"(6, 10]"
778,778,Sisur91,7,Male,101,Final Critic,4.19,"(6, 10]"
446,446,Chanossast57,7,Female,119,"Stormbringer, Dark Blade of Ending Misery",4.32,"(6, 10]"
515,515,Haillyrgue51,7,Male,40,Second Chance,2.52,"(6, 10]"
658,658,Quilassa66,7,Female,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,"(6, 10]"
...,...,...,...,...,...,...,...,...
557,557,Frichaya88,42,Male,8,"Purgatory, Gem of Regret",3.93,"(38, 42]"
674,674,Aeral68,43,Male,77,"Piety, Guardian of Riddles",4.00,"(42, 46]"
248,248,Isursuir31,44,Male,137,"Aetherius, Boon of the Blessed",3.39,"(42, 46]"
728,728,Chanosiaya39,44,Male,93,Apocalyptic Battlescythe,1.97,"(42, 46]"
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70,"(42, 46]"

In [377]:
df['Purchase ID'].count() # purchase count

780

In [378]:
df['Price'].mean() # average price

3.0509871794871826

In [379]:
df['Price'].sum() # Total Purchase price

2379.7700000000004

Top five spenders

In [380]:
new=df.nlargest(5,["Price"]) #top five spenders

In [381]:
new[['SN',"Price"]]

                SN  Price
554       Dyally87   4.99
189       Hiasri33   4.99
493  Chanirrasta87   4.94
116   Lassilsala30   4.94
246     Lirtilsa71   4.94

In [382]:

new["Price"].mean()  # average purchase value of top 5 spenders

4.960000000000001

In [383]:
new['Price'].sum() #total Purchase value of top 5 spenders

24.800000000000004

In [384]:
filt=df['Item Name'].value_counts().nlargest(5)
print(filt)

Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Persuasion                                       9
Nirvana                                          9
Fiery Glass Crusader                             9
Name: Item Name, dtype: int64

In [388]:
filt.index

Index(['Final Critic', 'Oathbreaker, Last Hope of the Breaking Storm',
       'Persuasion', 'Nirvana', 'Fiery Glass Crusader'],
      dtype='object')

In [389]:

filt=df['Item Name'].isin(filt.index)

In [390]:
df[filt]['Price'].sum()  # purchase value for popular 5

225.06

In [391]:
df[filt]['Item ID'].unique() # Item ID of top Most

array([101, 178,  92, 145,  82, 141, 132])

In [392]:
                                    #purchase count
df[filt]["Purchase ID"].count()

52